<p id="notice"><%= notice %></p>

<table>

  </head>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome!</h1>
          <p>This website is designed to showcase and provide ease of access for coding projects. Anyone is allowed to view the projects. However, if you want to edit the projects, you will need to authenticate yourself and justify your need to do so.</p>
        </div>
      </div>

      <!---- Cards ----->
      <div class="container-fluid padding">
      <div class="row"> 
          <% @projects.each do |project| %>
            <div class="col-md-4">
              <h2><%=project.title%></h2>
              <p><%=project.description%></p>
              <%= link_to 'Show', project, :class => "btn btn-secondary" %>
            </div>
            <% end %>
        </div>
        <hr>
      </div> <!-- /container -->
      </main>
</table>

<br>
